<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.klgz.xibao"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".ui.BaseApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity"
                  android:theme="@style/MainTheme">

        </activity>
        <activity android:name=".ui.activity.TestActivity">

        </activity>
        <activity android:name="com.klgz.library.base.ContainerActivity"/>
        <activity android:name=".ui.activity.ViewPagerListActivity">

        </activity>
        <activity android:name=".ui.activity.VideoActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>
        <activity android:name=".ui.activity.RecyclerViewActivity">

        </activity>

        <activity android:name=".ui.activity.DesignActivity"
            android:configChanges="keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>